Package: com.cpdigitaldarkroom.ezccx
Name: EZCCX
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Easier CC Access on iPhone X
Maintainer: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Author: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Section: Tweaks
